/** ***********************************************************************************************
 *                                            lbstyle.css                    
 *                                                                   
 *                   Purpose: CSS file, that contains visual style of lightbox galery                                                        
 *                      
 *********************************************************************************************** */

#lb_cont {
    display: block; 
    background-color: rgba(0, 0, 0, 1);
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 999;
    overflow: hidden;
}

#lb_cont #main_img {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;

    color: white;
    font-family: Verdana;
}

/* Buttons in right top corner */

#lb_cont #cross, #lb_cont #download {
    display: block;
    position: relative;
    float: right;
    margin: 10px 10px 0 0;

    max-width: 60px;
    min-width: 24px;
    width: calc(24px + 0.75vw);

    cursor: pointer;
    opacity: 0.3;
    transition: opacity 0.3s;
}

#lb_cont #download {
    margin-left: 5px;
}

#lb_cont #cross:hover, #lb_cont #download:hover {
    opacity: 1 !important;
}

#lb_cont #butt_box {
    display: block;
    position: relative;
    float: right;

    border-radius: 0 0 0 10%;

    background-color: rgba(0, 0, 0, 0.1);
    box-shadow:  0 0 10px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

#lb_cont #butt_box:hover {
    background-color: rgba(0, 0, 0, 0.45);
    box-shadow:  0 0 10px 10px rgba(0, 0, 0, 0.45);
}

/* Arrows on left side and right side */

#lb_cont #next_box, #lb_cont #prev_box, #lb_cont > #next, #lb_cont > #prev {
    margin: 0;
    position: absolute;
    top: 50%;

    transform: translate(0, -50%);
    cursor: pointer;
}

#lb_cont #next_box, #lb_cont > #next {
    right: 0;
    border-radius: 10% 0 0 10%;
}

#lb_cont #prev_box, #lb_cont > #prev {
    left: 0;
    border-radius: 0 10% 10% 0;
}

#lb_cont #next_box, #prev_box {
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow:  0 0 10px 10px rgba(0, 0, 0, 0.05);
    transition: background-color 0.3s, box-shadow 0.3s;
}

#lb_cont #next_box:hover, #prev_box:hover {
    background-color: rgba(0, 0, 0, 0.45);
    box-shadow:  0 0 10px 10px rgba(0, 0, 0, 0.45);
}

#next_box > #next, #prev_box > #prev {
    position: relative;
}

#lb_cont #next, #lb_cont #prev {
    max-height: 70px;
    min-height: 50px;
    height: calc(50px + 0.75vw);

    opacity: 0.3;
    transition: opacity 0.3s;
}

#lb_cont #prev {
    padding: 30px 20px 30px 10px;
}

#lb_cont #next {
    padding: 30px 10px 30px 20px;
}

#lb_cont #next:hover, #lb_cont #prev:hover {
    opacity: 1 !important;
}

/* Info box and numbering */

#lb_cont #info {
    position: absolute;
    margin: 0;
    padding: 10px 10px 10px 10px;
    bottom: 0;
    left: 0;
    font-family: Verdana;
    font-size: 0.8em;
    color: white;
    text-shadow: 0 0 2px black;
}

#lb_cont #info #caption {
    margin-bottom: 5px;
}

/* Loader */

#lb_loader {
    position: absolute; 
    top: 50%;
    right: 50%;

    width: 15vh;
    height: 15vh;

    transform: translate(52%, -50%);
}

#lb_loader .part {
    position: absolute; 
    top: 50%;
    right: 50%;

    transform: translate(50%, -50%) rotate(45deg);

    height: 0;
    width: 0;

    border: 3px rgba(255, 255, 255, 0) solid;

    animation: loader_anim 6s linear infinite;
}

@keyframes loader_anim {
    0% { 
        width: 0; 
        height: 0;
        border-color: rgba(255, 255, 255, 0);
    }

    50% { 
        border-color: rgba(255, 255, 255, 1);
    }

    100% { 
        width: 10vh; 
        height: 10vh;
        border-color: rgba(255, 255, 255, 0);
    }
}

#lb_loader #title_cont {
    position: absolute; 
    top: 100%;
    right: 50%;
    transform: translate(57%, 0);

    font-family: Verdana;
    font-size: 1.1em;
    text-transform: capitalize;
    color: white;

    animation: title_show 1s linear;
}

@keyframes title_show {
    0% {
        color: rgba(255, 255, 255, 0);
    }

    100% {
        color: white;
    }
}

.lb {
    cursor: pointer;
}
